<%- include('common/header') -%>

<div class="container">
    <%- include('common/navbar') -%>

    <main>
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number of victories</th>
                <th scope="col">Number of victories against you</th>
                <th scope="col">Remove Friend</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">John Otto</th>
                <td>32/50</td>
                <td>10/13</td>
                <td><button class="btn btn-sm btn-danger"><b>x</b></button> </td>
            </tr>
            <tr>
                <th scope="row">Jacob Goldscmidt</th>
                <td>12/30</td>
                <td>0/4</td>
                <td><button class="btn btn-sm btn-danger"><b>x</b></button> </td>
            </tr>
            <tr>
                <th scope="row">Larry Pallag</th>
                <td>6/8</td>
                <td>4/4</td>
                <td><button class="btn btn-sm btn-danger"><b>x</b></button> </td>
            </tr>
            </tbody>
        </table>
        <div class="form-signin mt-5">
            <input type="p-2 email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

            <button class="w-100 p-2 mt-2 btn btn-lg btn-primary btn-block" type="submit">Add new friend</button>
        </div>
    </main>
</div>

<%- include('common/footer') -%>
