<%- include('common/header') -%>

<div class="container">
    <%- include('common/navbar') -%>

    <main>
        <canvas>
            <!-- labyrinth game -->
        </canvas>
    </main>
</div>

<%- include('common/footer') -%>
