<%- include('common/header') -%>

<form class="form-signin" method="POST">
    <a href="/"><img class="mb-4" src="/images/darklogo.svg" alt="" width="72" height="72"></a>
    <p class="h3 mb-3 font-weight-normal">The requested URL was not found on this server</p>
</form>

<%- include('common/footer') -%>
