<%- include('common/header') -%>

<div class="container">
    <%- include('common/navbar') -%>

    <main>
        <%- include('common/userprofile') -%>
    </main>
</div>

<%- include('common/footer') -%>
