<!-- SCRIPTS -->
<!-- Google login  -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="/js/googlelogin.js"></script>

<!-- Bootstrap core JS -->
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>
