<!-- SCRIPTS -->

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Google login  -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="/js/googlelogin.js"></script>

<!-- Bootstrap core JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/bootstrap-5.0.0/js/bootstrap.js"></script>

</body>
</html>
