<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META DATA -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google login  -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="227633389701-sqfeeh0d7ufqn2ilbe7tqhskmrpjiear.apps.googleusercontent.com">

    <!-- TITLE -->
    <title>Labyrinth</title>

    <!-- ICON -->
    <link rel="icon" href="/images/logo.png">

    <!-- STYLE -->
    <!-- Google login  -->
    <link href="/css/googlelogin.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-5.0.0/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

</head>
<body class="text-center">
